Cython==0.29.20
gevent==22.8
Flask==2.1.1
Flask-Cors==3.0.2
requests==2.18.3
arrow==0.10.0
pymongo==3.7.1
elasticsearch==7.7.1
pytz==2020.5
openpyxl==2.6.2
python-docx==0.8.6
pyreadr==0.4.0
pydicom==1.4.2
SQLAlchemy==1.4.15
mysql-connector==2.2.9
pymssql==2.2.1
paramiko==2.7.2
numpy==1.21.0
pandas==1.2.3
pyreadstat==1.1.2
Cerberus==1.3.2
oss2==2.15.0
pyzipper==0.3.5
ruamel.yaml==0.16.10
scikit-learn==1.0.1
graphviz==0.19.1
odmlib==0.1.3
jolokia==0.4.0
beautifulsoup4==4.10.0
neo4j==4.4.0
pyignite==0.5.2
pyreadr==0.4.0
pywin32==227
APScheduler==3.5.1
xmltodict==0.13.0
suds>=1.1.2
xlrd>=2.0.0
sqlacodegen==2.3.0